<div class="container">
  <form class="form" action="##" method="post" id="registrationForm">
      <div class="form-group">
      <div class="col-xs-6">
          <label for="first_name"><h4>Usuario</h4></label>
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="username" placeholder="Nombre de usuario">
      </div>
      </div>
      <div class="form-group">
          <div class="col-xs-6">
              <label for="first_name"><h4>Nombre</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.nombre" name="first_name" id="first_name" placeholder="Nombre">
          </div>
      </div>
      <div class="form-group">

          <div class="col-xs-6">
            <label for="last_name"><h4>Apellidos</h4></label>
              <input type="text" class="form-control"  [(ngModel)]="user.apellido"name="last_name" id="last_name" placeholder="Apellidos">
          </div>
      </div>

      <div class="form-group">

          <div class="col-xs-6">
              <label for="email"><h4>Email</h4></label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="email" placeholder="you@email.com">
          </div>
      </div>

      <div class="form-group">
          <div class="col-xs-12">
                <br>
                  <button class="btn btn-lg btn-success" (click)="updateInfo()"><i class="fas fa-check"></i> GUARDAR</button>
                  <button class="btn btn-lg" (click)="discardChanges()"><i class="fas fa-undo" ></i> DESHACER CAMBIOS </button>
            </div>
      </div>
  </form>
</div>

