<div class="container">
  <form class="form" action="##" method="post" id="registrationForm">
      <div class="form-group">
      <div class="col-xs-6">
          <label for="first_name"><h4>Usuario</h4></label>
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="username" placeholder="Nombre de usuario">
      </div>
      </div>
      <div class="form-group">
          <div class="col-xs-6">
              <label for="first_name"><h4>Nombre</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.nombre" name="first_name" id="first_name" placeholder="Nombre">
          </div>
      </div>
      <div class="form-group">

          <div class="col-xs-6">
            <label for="last_name"><h4>Apellidos</h4></label>
              <input type="text" class="form-control"  [(ngModel)]="user.apellido"name="last_name" id="last_name" placeholder="Apellidos">
          </div>
      </div>

      <div class="form-group">

          <div class="col-xs-6">
              <label for="email"><h4>Email</h4></label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="email" placeholder="you@email.com">
          </div>
      </div>


      <div class="form-group">

          <div class="col-xs-6">
              <label for="sector"><h4>Sector</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.sector" name="sector" id="sector" placeholder="sector">
          </div>
     </div>

     <div class="form-group">

          <div class="col-xs-6">
              <label for="aficiones"><h4>aficiones</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.aficiones" name="aficiones" id="aficiones" placeholder="aficiones">
          </div>
    </div>

    <div class="form-group">

          <div class="col-xs-6">
              <label for="fechaNacimiento"><h4>Fecha de nacimiento</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.fechaNacimiento" name="fechaNacimiento" id="fechaNacimiento" placeholder="00-00-0000">
         </div>
    </div>

    <div class="form-group">

          <div class="col-xs-6">
              <label for="cp"><h4>Código postal</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.cp" name="cp" id="cp" placeholder="00000">
          </div>
    </div>

    <div class="form-group">

          <div class="col-xs-6">
              <label for="trabajo"><h4>Trabajo</h4></label>
              <input type="text" class="form-control" [(ngModel)]="user.trabajo" name="trabajo" id="trabajo" placeholder="Universidad de alicante">
          </div>
    </div>

      <div class="form-group">
          <div class="col-xs-12">
                <br>
                  <button class="btn btn-lg btn-success" (click)="updateInfo()"><i class="fas fa-check"></i> GUARDAR</button>
                  <button class="btn btn-lg" (click)="discardChanges()"><i class="fas fa-undo" ></i> DESHACER CAMBIOS </button>
            </div>
      </div>
  </form>
</div>

